<body
  class="leading-normal tracking-normal text-white gradient dark:bg-gray-950"
  style="font-family: 'Source Sans Pro', sans-serif"
>
<!--Hero-->
<div class="pt-24">
  <div
    class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center "
  >
    <!--Left Col-->
    <div
      class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left"
    >
      <p class="uppercase tracking-loose w-full">Что это за сайт?</p>
      <h1 class="my-4 text-5xl font-bold leading-tight">
        Узнай историю противостояния древних русов и ящеров👁️
      </h1>
      <p class="leading-normal text-2xl mb-8">
        Это должен знать каждый! Начни прямо сейчас
      </p>
      <button
        class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
      >
        Узнать
      </button>
    </div>
    <!--Right Col-->
    <div class="w-full md:w-3/5 py-6 text-center">
      <img class="w-full md:w-4/5 z-50" src="../assets/img/lizard_man.png"/>
    </div>
  </div>
</div>
<div class="relative -mt-12 lg:-mt-24">
  <svg
    viewBox="0 0 1428 174"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g
        transform="translate(-2.000000, 44.000000)"
        fill="#FFFFFF"
        fill-rule="nonzero"
      >
        <path
          d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
          opacity="0.100000001"
        ></path>
        <path
          d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
          opacity="0.100000001"
        ></path>
        <path
          d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
          id="Path-4"
          opacity="0.200000003"
        ></path>
      </g>
      <g
        transform="translate(-4.000000, 76.000000)"
        fill="#FFFFFF"
        fill-rule="nonzero"
      >
        <path
          d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"
        ></path>
      </g>
    </g>
  </svg>
</div>
<section class="bg-white  border-b py-8">
  <div class="container mx-auto flex flex-wrap pt-4 pb-12">
    <h1
      class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800"
    >
      Что вас ждет?
    </h1>
    <div class="w-full mb-4">
      <div
        class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>
    <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow"
      >
        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
          <div class="w-full font-bold text-xl text-gray-800 px-6">
            Древние русы
          </div>
          <p class="text-gray-800 text-base px-6 mb-5">
            Кто такие? Когда были? Зачем?
          </p>
        </a>
      </div>
      <div
        class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
      >
        <div class="flex items-center justify-start">
          <button
            class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          >
            Смотреть
          </button>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow"
      >
        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
          <div class="w-full font-bold text-xl text-gray-800 px-6">
            Ящеры
          </div>
          <p class="text-gray-800 text-base px-6 mb-5">
            Кто такие? Когда были? Зачем?
          </p>
        </a>
      </div>
      <div
        class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
      >
        <div class="flex items-center justify-center">
          <a
            href="#lizard_text"
            class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          >
            Смотреть
          </a>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
      <div
        class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow"
      >
        <a href="#" class="flex flex-wrap no-underline hover:no-underline">
          <div class="w-full font-bold text-xl text-gray-800 px-6">
            Их противостояние
          </div>
          <p class="text-gray-800 text-base px-6 mb-5">
            Великое противостояние. Кто его начал? Какой конфиликт
            интересов? Кто победил?
          </p>
        </a>
      </div>
      <div
        class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
      >
        <div class="flex items-center justify-end">
          <a
            href="#battle"
            class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
          >
            Смотреть
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white border-b py-8">
  <div class="container max-w-5xl mx-auto m-8">
    <h1
      class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800"
    >
      Основная история
    </h1>
    <div class="w-full mb-4">
      <div
        class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>
    <div class="flex flex-wrap pt-12">
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
          Кто такие древние русы?
        </h3>
        <p class="text-gray-600 mb-8">
          Древние русы - очень умная древняя раса, которая на тот момент
          была самой сильной. Они обладали высокими технологиями, которые
          позволяли им путешествовать по космосу, лечить любые болезни и
          создавать удивительные изобретения. Они жили в гармонии с природой
          и друг с другом, и не знали войн и насилия. <br/>
          <br/>
        </p>
      </div>
      <div class="w-full sm:w-1/2 p-6">
        <img src="../../assets/img/lizard_man.png"/>
      </div>
      y
    </div>
    <div class="flex flex-wrap flex-col-reverse sm:flex-row">
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <img src="../assets/img/8da2cd12044321.56256832ebc4c.jpg"/>
      </div>
      <div class="w-full sm:w-1/2 p-6 mt-6">
        <div class="align-middle">
          <h3
            id="lizard_text"
            class="text-3xl text-gray-800 font-bold leading-none mb-3"
          >
            Кто такие ящеры?
          </h3>
          <p class="text-gray-600 mb-8">
            Ящеры - человекоподобные существа, похожие на большую ящерицу
            или варана на двух ногах. Они были жестокими и агрессивными, и
            стремились к завоеванию всего живого. Они пришли на землю
            древних русов, чтобы убить их и захватить их технологии и земли.
            Они не ценили красоту и мудрость, а только силу и власть.
            <br/>
            <br/>

            Древние ящеры были когда-то обычными ящерицами, которые жили на
            далекой планете. Но из-за радиации и мутаций они превратились в
            разумных и жестоких существ, которые стремились к завоеванию
            всего космоса. Они обладали высокими технологиями и мощным
            оружием, которым уничтожали все живое на своем пути.
            <br/>
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
          Их противостояние
        </h3>
        <p class="text-gray-600 mb-8">
          В 1234 году до нашей эры произошло страшное событие. На небе
          появился огромный космический корабль ящеров, который начал
          обстреливать землю древних русов лазерными лучами. Многие города
          были разрушены, а люди погибали или бежали в ужасе. Ящеры
          высадились на поверхность и начали убивать всех, кто попадался на
          их пути. Они хотели добраться до центра древней цивилизации -
          города Светлограда, где хранился главный секрет древних русов -
          Кристалл Мудрости. <br/>
        </p>
      </div>
      <div class="w-full sm:w-1/2 p-6">
        <img src="../assets/img/yasher_and_rus.jpg_large"/>
      </div>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full sm:w-1/2 p-6">
        <img src="../assets/img/cristal.jpg"/>
      </div>
      <div class="w-5/6 sm:w-1/2 p-6">
        <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
          Дверний "Кристалл Мудрости"
        </h3>
        <p class="text-gray-600 mb-8">
          Кристалл Мудрости - это уникальный артефакт, который содержал в
          себе всю информацию о прошлом, настоящем и будущем всего
          существующего. Он также давал своему обладателю невероятные
          способности - телепатию, телекинез, левитацию и многое другое.
          Древние русы использовали его для блага и развития, а ящеры хотели
          его для зла и разрушения. Но древние русы не сдались без боя. Они
          собрали своих лучших воинов и ученых, чтобы защитить свой дом и
          свой народ. Среди них были:
        </p>
      </div>
      <div class="flex flex-wrap">
        <div class="w-5/6 sm:w-1/2 p-6">
          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
            Основные герои
          </h3>
          <p class="text-gray-600 mb-8">
            - Светослав Победоносный - великий герой и лидер древних русов.
            Он был храбрым, сильным и мудрым. Он умел обращаться со всеми
            видами оружия, но предпочитал свой меч Светозар, который
            светился в темноте и мог прорезать любую броню.
            <br/>
            - Казимир Жижкорусович - гениальный ученый и изобретатель. Он
            создавал удивительные машины и устройства, которые помогали
            древним русам в борьбе с ящерами. Он также был отважным и
            ловким, и не боялся рисковать своей жизнью ради науки.
            <br/>
            - Патап Водный - мастер воды и магии. Он умел управлять стихией
            воды, и использовал ее для защиты и атаки. Он мог вызывать
            цунами, ледяные снаряды, водяные щиты и другие эффекты. Он также
            был добрым и щедрым, и всегда помогал нуждающимся.
            <br/>
            - Никитич Житов - великолепный стрелок и разведчик. Он обладал
            острым зрением и слухом, и мог попасть в любую цель из своего
            лука Житомир, который стрелял огненными стрелами. Он также был
            скрытным и хитрым, и мог проникнуть в любое место без шума и
            пыли.
            <br/>
            - Зинаида Землеройка - прекрасная воительница и целительница.
            Она умела обращаться с землей и растениями, и использовала их
            для лечения и защиты. Она могла вырастить целый лес из семян,
            создать земляные стены и ловушки, или излечить любую рану своими
            травами. Она также была отзывчивой и верной, и всегда
            поддерживала своих друзей.
            <br/>
          </p>
        </div>
        <div class="w-full sm:w-1/2 p-6">
          <img
            src="../assets/img/2e1b9dcdf8b148da5043dd68664e1eb8--fantasy-beasts-dark-fantasy.jpg"
            style="max-height: 700px; width: 100%; object-fit: cover"
          />
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2 p-6">
          <img
            src="https://www.gorodche.ru/wp-content/uploads/2022/05/d91a4d41-2.jpg"
            style="max-height: 700px; width: 100%; object-fit: cover"
          />
        </div>
        <div class="w-5/6 sm:w-1/2 p-6">
          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
            Сражение
          </h3>
          <p id="battle" class="text-gray-600 mb-8">
            Эти пять героев возглавили отряд древних русов, который
            отправился на встречу с ящерами. Они прошли через множество
            опасностей и битв, пока не добрались до Светлограда. Там они
            столкнулись с самым страшным врагом - королем ящеров Змееглавом.
          </p>
          <p class="text-gray-600 mb-8">
            Змееглав - это самый могущественный и жестокий из всех ящеров.
            Он был похож на гигантского змея с человеческим торсом и руками.
            Он обладал огромной силой и скоростью, а также магией огня. Он
            мог извергать пламя из своего рта, создавать огненные шары и
            взрывы, или обжигать своих противников своим взглядом. Он хотел
            завладеть Кристаллом Мудрости, чтобы стать самым сильным
            существом во вселенной.
          </p>
          <p class="text-gray-600 mb-8">
            Светослав Победоносный и его друзья вступили в смертельный
            поединок с Змееглавом. Битва была жестокой и долгой, но древние
            русы не сдавались. Они использовали все свои умения и таланты,
            чтобы противостоять ящеру. Наконец, Светослав Победоносный нашел
            слабое место Змееглава - его грудь, которая не была защищена
            броней. Он ударил своим мечом Светозаром по этому месту, пронзив
            сердце ящера.
          </p>
          <p class="text-gray-600 mb-8">
            Змееглав издал последний рев, а потом упал замертво. Его кровь
            потекла по земле, а его тело размокло...
          </p>
          <br/>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-100 py-8">
  <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
    <h1
      class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800"
    >
      Pricing
    </h1>
    <div class="w-full mb-4">
      <div
        class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
      ></div>
    </div>
    <div
      class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4"
    >
      <div
        class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4"
      >
        <div
          class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow"
        >
          <div class="p-8 text-3xl font-bold text-center border-b-4">
            Free
          </div>
          <ul class="w-full text-center text-sm">
            <li class="border-b py-4">Вы поддержите ящеров</li>
            <li class="border-b py-4">Древние русы проиграют</li>
          </ul>
        </div>
        <div
          class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
        >
          <div
            class="w-full pt-6 text-3xl text-gray-600 font-bold text-center"
          >
            £0
            <span class="text-base">для одного пользователя</span>
          </div>
          <div class="flex items-center justify-center">
            <button
              class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-lg bg-white mt-4 sm:-mt-6 shadow-lg z-10"
      >
        <div
          class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow"
        >
          <div class="w-full p-8 text-3xl font-bold text-center">Basic</div>
          <div class="h-1 w-full gradient my-0 py-0 rounded-t"></div>
          <ul class="w-full text-center text-base font-bold">
            <li class="border-b py-4">Вы поддержите древних русов</li>
            <li class="border-b py-4">Им не хватит сил</li>
            <li class="border-b py-4">Древние ящеры победят</li>
          </ul>
        </div>
        <div
          class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
        >
          <div class="w-full pt-6 text-4xl font-bold text-center">
            £100.99
            <span class="text-base">/ для одного пользователя</span>
          </div>
          <div class="flex items-center justify-center">
            <button
              class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>
      <div
        class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4"
      >
        <div
          class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow"
        >
          <div class="p-8 text-3xl font-bold text-center border-b-4">
            Pro
          </div>
          <ul class="w-full text-center text-sm">
            <li class="border-b py-4">Древние русы одержат победу</li>
            <li class="border-b py-4">
              Древние русы будут вам благодарны всегда
            </li>
            <li class="border-b py-4">Чистая карма на всю жизнь</li>
          </ul>
        </div>
        <div
          class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
        >
          <div
            class="w-full pt-6 text-3xl text-gray-600 font-bold text-center"
          >
            £25599.99
            <span class="text-base">/ для одного пользователя</span>
          </div>
          <div class="flex items-center justify-center">
            <button
              class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
            >
              Sign Up
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Change the colour #f8fafc to match the previous section colour -->
<svg
  class="wave-top"
  viewBox="0 0 1439 147"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g transform="translate(-1.000000, -14.000000)" fill-rule="nonzero">
      <g class="wave" fill="#f8fafc">
        <path
          d="M1440,84 C1383.555,64.3 1342.555,51.3 1317,45 C1259.5,30.824 1206.707,25.526 1169,22 C1129.711,18.326 1044.426,18.475 980,22 C954.25,23.409 922.25,26.742 884,32 C845.122,37.787 818.455,42.121 804,45 C776.833,50.41 728.136,61.77 713,65 C660.023,76.309 621.544,87.729 584,94 C517.525,105.104 484.525,106.438 429,108 C379.49,106.484 342.823,104.484 319,102 C278.571,97.783 231.737,88.736 205,84 C154.629,75.076 86.296,57.743 0,32 L0,0 L1440,0 L1440,84 Z"
        ></path>
      </g>
      <g transform="translate(1.000000, 15.000000)" fill="#FFFFFF">
        <g
          transform="translate(719.500000, 68.500000) rotate(-180.000000) translate(-719.500000, -68.500000) "
        >
          <path
            d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
            opacity="0.100000001"
          ></path>
          <path
            d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
            opacity="0.100000001"
          ></path>
          <path
            d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
            opacity="0.200000003"
          ></path>
        </g>
      </g>
    </g>
  </g>
</svg>
<section class="container mx-auto text-center py-6 mb-12">
  <h1
    class="w-full my-2 text-5xl font-bold leading-tight text-center text-white"
  >
    Узнайте историю
  </h1>
  <div class="w-full mb-4">
    <div
      class="h-1 mx-auto bg-white w-1/6 opacity-25 my-0 py-0 rounded-t"
    ></div>
  </div>
  <h3 class="my-4 text-3xl leading-tight">
    Великая история древних русов и ящеров
  </h3>
  <button

    href="index.html#top"
    class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
  >
    Узнать
  </button>
</section>
<!--Footer-->
<footer class="bg-white">
  <div class="container mx-auto px-8">
    <div class="w-full flex flex-col md:flex-row py-6">
      <div class="flex-1 mb-6 text-black">
        <a
          class="text-pink-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
          href="#"
        >
          <!--Icon from: http://www.potlabicons.com/ -->
          <svg
            class="h-8 fill-current inline"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512.005 512.005"
          >
            <rect
              fill="#2a2a31"
              x="16.539"
              y="425.626"
              width="479.767"
              height="50.502"
              transform="matrix(1,0,0,1,0,0)"
            />
            <path
              class="plane-take-off"
              d=" M 510.7 189.151 C 505.271 168.95 484.565 156.956 464.365 162.385 L 330.156 198.367 L 155.924 35.878 L 107.19 49.008 L 211.729 230.183 L 86.232 263.767 L 36.614 224.754 L 0 234.603 L 45.957 314.27 L 65.274 347.727 L 105.802 336.869 L 240.011 300.886 L 349.726 271.469 L 483.935 235.486 C 504.134 230.057 516.129 209.352 510.7 189.151 Z "
            />
          </svg>
          Ящер.com
        </a>
      </div>
      <div class="flex-1">
        <p class="uppercase text-gray-500 md:mb-6">Links</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="no-underline hover:underline text-gray-800 hover:text-pink-500"
            >FAQ</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="no-underline hover:underline text-gray-800 hover:text-pink-500"
            >Help</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="no-underline hover:underline text-gray-800 hover:text-pink-500"
            >Support</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase text-gray-500 md:mb-6">Legal</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="no-underline hover:underline text-gray-800 hover:text-pink-500"
            >Terms</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="no-underline hover:underline text-gray-800 hover:text-pink-500"
            >Privacy</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase text-gray-500 md:mb-6">Social</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="no-underline hover:underline text-gray-800 hover:text-pink-500"
            >Facebook</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="no-underline hover:underline text-gray-800 hover:text-pink-500"
            >Linkedin</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="no-underline hover:underline text-gray-800 hover:text-pink-500"
            >Twitter</a
            >
          </li>
        </ul>
      </div>
      <div class="flex-1">
        <p class="uppercase text-gray-500 md:mb-6">Company</p>
        <ul class="list-reset mb-6">
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="no-underline hover:underline text-gray-800 hover:text-pink-500"
            >Official Blog</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="no-underline hover:underline text-gray-800 hover:text-pink-500"
            >About Us</a
            >
          </li>
          <li class="mt-2 inline-block mr-2 md:block md:mr-0">
            <a
              href="#"
              class="no-underline hover:underline text-gray-800 hover:text-pink-500"
            >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>
</body>
